# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Build output (if you have any)
dist/
build/

# OS files
.DS_Store
Thumbs.db

# Optional npm cache
.npm

# IDE/editor specific files
.vscode/
.idea/
